$background: #d5ebff;
$background-light: rgb(245, 250, 255);
$cta: rgb(23, 145, 252);
$error: #ff3737;
$disabled: rgb(173, 173, 173);
$text-important: rgb(17, 17, 17);
$text: rgb(47, 47, 47);
$text-light: white;